@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 2rem;
  font-family: mukta-extrabold;
}
h2 {
  font-size: 1.75rem;
  font-family: mukta-medium;
}
h3 {
  font-size: 1.25rem;
  font-family: mukta-regular;
}
h4 {
  font-size: 1.125rem;
  font-family: mukta-regular;
}
h5 {
  font-size: 1rem;
  font-family: mukta-regular;
}
h6 {
  font-size: 0.875rem;
  font-family: mukta-regular;
}
p {
  font-size: 1rem;
  font-family: mukta-ligth;
}
button {
  font-size: 1rem;
  font-family: mukta-regular;
  font-weight: bold;
}
