$purple: #3E014E;
$text-primary: #190134;
$color-primary: rgb(0, 161, 155);
$color-primary-transparent: rgb(0, 161, 155, 0.3);
$color-secondary: #F5B335;
$orange: #D75D48;
$green: #9AA27D;
$dark-green: #0B3C49;
$yellow: #FAEAB9;
$red: #EB5757;
$black: #000000;
$white: #FFFDFD;
$input-text-color: #B3ABBC;
$input-text-color-action: #685879;
$background-disabled: #EAEAEA;
$border-purple-disabled: rgb(62, 1, 78, 0.5);