#index-modal-login {
  background-image: url("../assets/textura_fondo.png");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#action-place {
  display: flex;
}