.mf-2 {
    margin: 2% !important;
}

.mf-4 {
    margin: 4% !important;
}

.mf-6 {
    margin: 6% !important;
}

.mf-8 {
    margin: 8% !important;
}

.mf-10 {
    margin: 10% !important;
}

.mf-12 {
    margin: 12% !important;
}

.ml-2 {
    margin-left: 2% !important;
}

.ml-4 {
    margin-left: 4% !important;
}

.ml-6 {
    margin-left: 6% !important;
}

.ml-8 {
    margin-left: 8% !important;
}

.ml-10 {
    margin-left: 10% !important;
}

.ml-12 {
    margin-left: 12% !important;
}