@import "../vars";

button {
  padding: 10px 50px;
  margin: 0.5%;
  outline: none;
  border-radius: 100px;
  border-width: 0.6px;
  border-style: solid;
  border-color: $purple;
  cursor: pointer;
  text-transform: uppercase;
  &.primary {
    background-color: $purple;
    color: $white;
    &:hover {
      background-color: $orange;
      border-color: $orange;
    }
    &:active {
      background-color: $white;
      border-color: $purple;
      color: $purple;
    }
  }
  &.secondary {
    background-color: $dark-green;
    border-color: $dark-green;
    color: $white;
  }
  &:hover {
    background-color: $green;
    border-color: $green;
  }
  &:active {
    background-color: $white;
    border-color: $dark-green;
    color: $dark-green;
  }
  &.submiting {
    animation: submiting 10s linear;
  }
}

@keyframes submiting {
  15% {
    padding-right: 50px;
    background-image: url("../../assets/Spinner-0.7s-147px.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  100% {
    padding-right: 50px;
    background-image: url("../../assets/Spinner-0.7s-147px.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
}
