

.footer__div{

    background-color:black;

    padding: 2rem;

    a{

        text-decoration: none;
        color:white
        
    }


    .redes{

        img{

            display: block;
            margin: 2px;
            padding: 4px;
        }
    }
     
    .menu{
        justify-content: center;
        align-items: center;
        text-align: center;

        li {
            
            list-style: none;
        }
    }

     
    .extra{
        justify-content: center;
        align-items: center;

        a {
        display: block; 
        text-align: right;       
        }

    }  

}

